{% macro button(data) %}
    <button class="Button">
        <svg height="20" style="fill:var(--theme-primary)" viewbox="0 0 19.715 20" width="19.715" xmlns="http://www.w3.org/2000/svg"><path d="M19.715,40H0V20A20.078,20.078,0,0,0,19.715,40Z" transform="translate(0 -20)"/></svg>
        {% if data.label %}
            {{data.label}}
        {% endif %}
        {% if data.icon %}
            <div>
            <img src="{{data.icon}}"/>
            </div>
        {% endif %}
    </button>
{% endmacro %}

{% macro rrr() %}
    <h1>hola</h1>
{% endmacro %}