{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{fn("wp_head")}}
</head>
<body {{fn("body_class")}}>
    {% block header %}
        {% include "includes/header.twig" %}
    {% endblock %}
    
    <main {{fn("post_class","site-main")}}>  
    {% block content %}
        {{fn("the_content")}}
    {% endblock %}
    </main>
    {% block footer %}
         {% include "includes/footer.twig" %}
    {% endblock %}
</body>
</html>     
{% endspaceless %}