<section class="Slide-box">
    {% set classId = imageSet({
        default : "url("~ slides.background.url | resize(1380) ~")no-repeat center/cover",
        520 : "url("~ slides.background.url | resize(520) ~")no-repeat center/cover"
    }) %}
    <div class="Layer {{classId}}"></div>
</section>