.SlideBox {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template:
		"header header header aside" 66%
		"footer footer footer aside" auto;
}

.SlideBoxHeader {
	grid-area: header;
}

.SlideBoxFooter {
	grid-area: footer;
	display: grid;
	grid-auto-flow: column;
	background: var(--theme-primary, gold);
}

.SlideBoxAside {
	grid-area: aside;
	display: grid;
	grid-auto-flow: row;
	background: var(--theme-dark, black);
}
.SlideBoxAside > *:nth-child(even) {
	background: var(--theme-second, teal);
}
