.SlideBox {
	width: 100%;
	height: 100%;
	display: flex;
	grid-template:
		"header header header aside"
		"footer footer footer aside";
}

.SlideBoxHeader {
	grid-area: header;
}

.SlideBoxFooter {
	grid-area: footer;
}
.SlideBoxAside {
	grid-area: footer;
}
