:root {
  --theme-primary: #4caf7d;
  --theme-background: #04302f;
}

html,
body {
  background: #f1f1f9;
}

a,
input,
textarea,
button {
  color: unset;
  font-family: unset;
}

.layer {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.title {
  font-weight: bold;
}

.title small {
  font-weight: 400;
  display: block;
}

h1.title {
  font-size: 45px;
}

h2.title {
  font-size: 38px;
}

h3.title {
  font-size: 32px;
}

h4.title {
  font-size: 26px;
}

h5.title {
  font-size: 18px;
}

h6.title {
  font-size: 14px;
}
