:root {
  --theme-primary: black;
  --theme-second: tomato;
  --theme-second-contras: white;
  --theme-second-shadow-x2: 0px 12px 22px rgba(255, 75, 75, 0.25);
  --theme-box-radius: 5px;
  --theme-background: #303030;
}

body {
  background: var(--theme-background);
  color: var(--theme-primary);
}

a {
  text-decoration: none;
}

a,
input,
textarea,
button {
  color: unset;
  font-family: unset;
}

.layer {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.title {
  font-weight: bold;
}

.title small {
  font-weight: 400;
  display: block;
}

h1.title {
  font-size: 45px;
}

h2.title {
  font-size: 38px;
}

h3.title {
  font-size: 32px;
}

h4.title {
  font-size: 26px;
}

h5.title {
  font-size: 18px;
}

h6.title {
  font-size: 14px;
}

.button {
  background: var(--theme-second);
  color: var(--theme-second-contras);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  box-shadow: var(--theme-second-shadow-x2);
  border-radius: var(--theme-box-radius);
}
