html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: #f1f1f9;
}

a,
input,
textarea,
button {
	color: unset;
	font-family: unset;
}

body {
	--theme-primary: #f3ca25;
	--theme-second: #8a97aa;
	--theme-dark: #393939;
}
